<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link rel="stylesheet"
          href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous"/>

    <title>{% block title %}Title{% endblock %}</title>
  </head>
 <body>
    <div style="width:80%; margin:auto">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin">
              <i class="fas fa-user-cog"></i>
              Admin
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/planning">
              <i class="fas fa-calendar-alt"></i>
              Planning
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/brewbrew/recipe">
              <i class="fas fa-book"></i>
              My recipes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stock">
              <i class="fas fa-boxes"></i>
              Stock
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tanks">
              <i class="fas fa-flask"></i>
              Tanks
            </a>
          </li>
        </ul>
      </nav>
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>