{% extends 'base.html' %}

{% block title %}Planning{% endblock %}

{% block content %}

<table class="table table-bordered table-responsive">
	<tr>
		<th></th>
		{% for date in dates %}
		<th style="min-width: 110px" class="{% if date.weekday == 5 or date.weekday == 6 %}bg-dark{% endif %}">
			{{ date.isoformat }}
		</th>
		{% endfor %}
	</tr>

	{% for tank, cells in tanks %}
	<tr>
		<th><i class="fas fa-flask"></i> Tank {{ tank.name }}</th>
		{% for cell in cells %}
		<td colspan="{{ cell.duration }}" class="{% if cell.brew %}bg-warning{% endif %}">
			{% if cell.brew %}
			<center><a href="/admin/brewbrew/brew/{{ cell.brew.id }}/change">{{ cell.brew.batch_name }}</a></center>
			{% else %}
			<center>
		        <div class="dropdown">
		          <button class="btn btn-primary dropdown-toggle"
		                  type="button"
	                      id="start-brewing-{{ tank.id }}-{{ cell.date }}"
	                      data-toggle="dropdown"
	                      aria-haspopup="true"
	                      aria-expanded="false">
	            <i class="fas fa-beer"></i>&nbsp;Start brewing...
	          </button>
	          <div class="dropdown-menu" aria-labelledby="start-brewing-{{ tank.id }}-{{ cell.date }}">
	            {% for recipe in original_recipes %}
	              <a class="dropdown-item"
	              	 href="/recipes/{{ recipe.id }}/create_brew?tank_id={{ tank.id }}&start_date={{ cell.date.isoformat }}">
	                <b>{{ recipe.name }}</b>
	                &nbsp;
	                <em class="float-right">{{ recipe.total_duration }} days</em>
	              </a>
	            {% endfor %}
	          </div>
			</center>
			{% endif %}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
	
</table>

{% endblock %}