{% extends 'base.html' %}

{% block title %}Schedule{% endblock %}

{% block content %}

<style type="text/css">
	th, td {
		min-width: 50px;
	}

	/* dirty hacks to make each cell a full button */
	.td-button {
		padding: 0!important;
		line-height: 49px;
		text-align: center;
	}

	.td-button .dropdown-item {
		line-height: initial;
	}

	.td-button:hover {
		cursor: pointer;
	}

	.td-button > a {
		width: auto;
		height: auto;
		display: block;
		color: black;
	}

	.td-button > a:hover {
		text-decoration: none;
		filter: brightness(0.9);
	}
</style>

<table id="schedule" class="table table-bordered table-responsive">
	<tr>
		<th style="border-bottom: 0"></th>
		{% for date in dates %}
			{% if date.day == 1 %}
				<th style="border-right: 0">
					{{ date|date:"M" }}
				</th>
			{% else %}
				<th style="border-right: 0; border-left: 0"></th>
			{% endif %}
		{% endfor %}
	</tr>
	<tr>
		<th style="border-top: 0"></th>
		{% now 'Y-m-d' as today %}
		{% for date in dates %}
		<th class="{% if today == date|date:'Y-m-d' %}bg-dark{% endif %}">
			<center>{{ date.day }}</center>
		</th>
		{% endfor %}
	</tr>

	{% for tank, cells in tanks %}
	<tr>
		<th class="text-nowrap"><i class="fas fa-flask"></i>&nbsp;Tank {{ tank.name }}</th>
		{% for cell in cells %}
		<td colspan="{{ cell.duration }}" class="td-button">
			{% if cell.brew %}
				<a href="/admin/brewbrew/brew/{{ cell.brew.id }}/change"
				   class="bg-warning">
					<i class="fas fa-beer"></i>&nbsp;{{ cell.brew.batch_name }}
				</a>
			{% else %}
		      <div class="dropdown dropdown-toggle"
		           type="button"
	               id="start-brewing-{{ tank.id }}-{{ cell.date }}"
	               data-toggle="dropdown"
	               aria-haspopup="true"
	               aria-expanded="false">
	            <i class="fas fa-beer"></i>
	          </div>
	          <div class="dropdown-menu" aria-labelledby="start-brewing-{{ tank.id }}-{{ cell.date }}">
	            {% for recipe in original_recipes %}
	              <a class="dropdown-item"
	              	 href="/recipes/{{ recipe.id }}/create_brew?tank_id={{ tank.id }}&start_date={{ cell.date.isoformat }}">
	                <b>{{ recipe.name }}</b>
	                &nbsp;
	                <em class="float-right">{{ recipe.total_duration }} days</em>
	              </a>
	            {% endfor %}
	          </div>
			{% endif %}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
	
</table>

<script type="text/javascript">
	function scrollTableToday() {
		var t = document.getElementById("schedule");
		t.scrollTo({{ today_ratio }} * t.scrollWidth - t.clientWidth / 2, 0);
	}
	window.onload = scrollTableToday
</script>

{% endblock %}