{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}Stock{% endblock %}

{% block content %}

<table class="table table-hover table-sm">
	<tr>
		<th>DATE</th>
		<th>BREW/BILL</th>
		<th>NAME</th>
		<th>SUPPLIER</th>
		<th>BATCH</th>
		<th>QUANTITY</th>
		<th>TOTAL QUANTITY</th>
	</tr>
	{% for entry in stock_entries %}
	<tr class="{% if entry.brew %}bg-warning{% else %}table-primary{% endif %}">
		<td>{{ entry.date }}</td>
		<td>
			{% if entry.brew %}<i class="fas fa-beer"></i> {{ entry.brew }}{% endif %}
			{% if entry.bill %}<i class="fas fa-th-list"></i> {{ entry.bill }}{% endif %}
		</td>
		<td>{{ entry.name }}</td>
		<td>{{ entry.supplier }}</td>
		<td>{{ entry.batch }}</td>
		<td>{{ entry.quantity }} {{ entry.unit }}</td>
		<td>{{ entry.total_quantity }} {{ entry.unit }}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}