{% extends "base.html" %}

{% block title %}Tanks{% endblock %}

{% block content %}
<style type="text/css">
@keyframes breathe {
  0%, 100% {font-size: 50%;}
  85% {font-size: 100%;}
}
.breathing {
  animation: breathe 1s infinite;
}
</style>

<div class="row">
{% for tank, brew in tanks %}
<div class="col-sm-6">
  <div class="card">
    <h5 class="card-header {% if brew %}bg-warning{% else %}bg-light{% endif %}">
      <i class="fas fa-flask"></i>
      Tank {{ tank.name }}
      <small>{{ tank.capacity }}l</small>
    </h5>
    {% if brew %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="fas fa-beer"></i>&nbsp;
          {{ brew.original_recipe.name }} ({{ brew.batch_name }})
        </li>
        <li class="list-group-item">
          <i class="fas fa-calendar"></i>&nbsp;
          {{ brew.start_date }}
          &nbsp;<i class="fas fa-arrow-right"></i>&nbsp;
          {{ brew.end_date }}
        </li>
        <li class="list-group-item">
          <h5>Fermentation planning</h5>
          <table class="table">
            <tr>
              <th></th>
              <th>t&deg;C</th>
              <th>From</th>
              <th><i class="fas fa-arrow-right"></i>&nbsp;To</th>
            </tr>
            {% now "Y-m-d" as today %}
            {% for start_date, end_date, step in brew.fermentation_steps %}
              <tr class="{% if start_date|date:'Y-m-d' <= today and today <= end_date|date:'Y-m-d' %}bg-warning{% endif %}">
                <th>
                  {{ step.name }}
                  {% if start_date|date:'Y-m-d' <= today and today <= end_date|date:'Y-m-d' %}
                    &nbsp;<i class="fas fa-bullseye breathing"></i>
                  {% endif %}
                </th>
                <td>{{ step.temperature }}&deg;C</td>
                <td>{{ start_date }}</td>
                <td>{{ end_date }}</td>
              </tr>
            {% endfor %}
          </table>
        </li>
      </ul>
    {% else %}
      <div class="card-body">
        <p>Available for brewing !</p>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle"
                  type="button"
                  id="start-brewing-{{ tank.id }}"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
            <i class="fas fa-beer"></i>&nbsp;Start brewing...
          </button>
          <div class="dropdown-menu" aria-labelledby="start-brewing-{{ tank.id }}">
            {% for recipe in original_recipes %}
              <a class="dropdown-item" href="/recipes/{{ recipe.id }}/create_brew?tank_id={{ tank.id }}">
                <b>{{ recipe.name }}</b>
                &nbsp;
                <em class="float-right">{{ recipe.total_duration }} days</em>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endfor %}
</div>

{% endblock %}
